PUBLIC_SITE_URL="https://your-domain.com"
PUBLIC_SANITY_PROJECT_ID="your-project-id"
PUBLIC_SANITY_DATASET="production"

# Optional if your Studio is hosted in a separate URL
PUBLIC_STUDIO_URL="http://localhost:3333"
